*{
    margin: 0;
}

body{
    background-image: url(../img/wallpaperIndex.jpg);
    background-position: center;
    background-repeat: no-repeat;
}

.cabecario{
    background-color: black;
    height: 80px;
}

.container{
    
}